<div class="container-fluid">
  <div class="row-fluid">
    <img alt="by <%= @photo.author %> on Flickr" src="<%= @photo.sunset_by_lat_lon %>" style="width:100%;height:100%">
  </div>
  <div id="attribution-box">
    <p id="city" class="alignleft"><%= @photo.location.titleize %> 
       <%= image_tag "map_icon.svg", height: '15', width: '15' %></p>
    <p id="attribution" class="alignright">by <a href ="<%=@photo.photo_url%>"><%= @photo.author %></a> on <a href="http://flickr.com">Flickr</a></p>
  </div>
  <footer>
    <div class="container text-center">
      <p class="text-muted">Made with ♥ by <a href="https://github.com/mmlkrx" target="_blank">Matthias Loker</a>, <a href="https://github.com/amyrjohnson" target="_blank">Amy Johnson</a> and <a href="https://github.com/zacksheppard" target="_blank">Zack Sheppard</a> at <a href="http://flatironschool.com" target="_blank">The Flatiron School</a>.</p>
    </div>
  </footer>
</div>
