<div id="main" class="container-fluid">
  <div class="row-fluid">
    <img alt="by <%= @photo.author %> on Flickr" src="<%= @photo.sunset_by_lat_lon %>" style="width:100%;height:100%">
  </div>
  <div style="clear: both;">
    <p id="city" class="alignleft"><a target="_map" href="http://www.openstreetmap.org/?mlat=<%= @photo.lat %>&mlon=<%= @photo.lon %>#map=7/<%= @photo.lat %>/<%= @photo.lon %>"><%= @photo.location.titleize %> 
       <%= image_tag "map_icon.svg", height: '15', width: '15' %></a></p>
    <p id="attribution" class="alignright">by <a href ="<%=@photo.photo_url%>"><%= @photo.author %></a> on <a href="http://flickr.com">Flickr</a></p>
  </div>
  <div style="clear: both;"></div>
  <div class="container text-center">
    <p class="text-muted">Made with ♥ by <a href="https://github.com/mmlkrx" target="_blank">Matthias Loker</a>, <a href="https://github.com/amyrjohnson" target="_blank">Amy Johnson</a> and <a href="https://github.com/zacksheppard" target="_blank">Zack Sheppard</a> at <a href="http://flatironschool.com" target="_blank">The Flatiron School</a>.</p>
  </div>
  <div id="about">
    <p>The idea behind Sunset Somewhere is to let you follow the constantly moving <a href="http://www.timeanddate.com/worldclock/sunearth.html">sliver of the Earth</a> moving from day to night. On loading it you'll see a photo from somewhere in the world where the sun is setting right now. Refreshing will show a different view of the day's end.</p>

    <p>To chase the sun as it moves across the earth, we get the sunset time from a sampling of locations across the earth. Then we pull photos tagged 'sunset' from <a href="http://flickr.com">Flickr</a> at those locations. Sometimes you'll see a few from the same place, and sometimes you'll hop around the earth a bit. </p>

    <p>Conceived of and created by <a href="https://github.com/mmlkrx" target="_blank">Matthias Loker</a>, <a href="https://github.com/amyrjohnson" target="_blank">Amy Johnson</a> and <a href="https://github.com/zacksheppard" target="_blank">Zack Sheppard</a>.</p>

    <p>Location pin icon by <a href="http://www.thenounproject.com/skatakila">Ricardo Moreira</a> from the <a href="http://www.thenounproject.com">Noun Project</a>.</p>
  </div>
</div>