<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1 id="title">The sun is currently setting in...</h1>
      <figure>
        <div id="hover-map">
          <img src="<%= @photo.sunset_by_lat_lon %>" id="sunset" class="top img-responsive center-block">
          <!-- <input type="image"  id="sunset" class="img-responsive center-block" src="<%= @photo.sunset_by_lat_lon %>" onClick="window.location.reload()"> -->
          <div class = "map col-lg-8 bottom" id="map-canvas"></div>
       </div>
     </figure>
     <div style="clear: both;">
        <p class="alignleft"><%= @photo.location.titleize %></p>
        <p class="alignright">by <a href ="<%=@photo.photo_url%>"><%= @photo.author %></a></p>
      </div>
    </div>
  </div>

</div>

