<div class="sunset" style="background: url('<%= @photo.sunset_by_lat_lon %>') no-repeat center fixed; background-size: cover;">
</div>
<div class="sunset-footer">
  <div class="footer-left">
    <div class="attribution">
      <p><a href="<%= @photo.photo_url%>">photo by <%= @photo.author %> on Flickr</a></p>
    </div>
    <div class="location">
      <p><a target="_map" href="http://www.openstreetmap.org/?mlat=<%= @photo.lat %>&mlon=<%= @photo.lon %>#map=4/<%= @photo.lat %>/<%= @photo.lon %>"> <%= @photo.location.titleize %>
         <%= image_tag "map_icon.svg", height: '20', width: '20' %></a></p>
      </div>
    </div>
  <div class="footer-right">
    <p><a href="#about" data-target="#about" data-toggle="modal">About Sunset Somewhere</a></p>
  </div>
</div>
<%= render "application/about" %>
