<html>
<style>
      #map-canvas {
        height: 200px;
        width: 100%;
        margin: 0px;
        padding: 5px;
        bottom: 0px;
        display: none;
      }
    </style>

<script>
jQuery(document).ready(function(){

    // jQuery('#show-map').click(function(){
    //     jQuery('#map-canvas').toggle();
    // });
    // $(".map-toggle").click(function(){
    //   $(".map").slideToggle();

  function mouseOn(){

    var height = $(this).find('.bottom').height() + 200;
    $('#map-canvas').show();
    $(this).find('.bottom').animate({bottom:height}, 400).fadeTo(200, 1);
    $(this).find('.top').fadeTo(200, .2);
  }

  function mouseOff(){
    $(this).find('.bottom').animate({bottom:200}, 400).fadeTo(200, 0).hide();
    $(this).find('.top').fadeTo(200, 1);
  }

  $('#hover-map').hover(mouseOn,mouseOff);

  // $('#hover2').hover(function(){
  //   $(this).find('.front').fadeTo(200,0.2);
  // },function(){
  //   $(this).find('.front').fadeTo(200,1);
  // });

});


</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1 id="title">The sun is currently setting in...</h1>
      <figure>
        <div id="hover-map">
          <img src="<%= @photo.sunset_by_lat_lon %>" id="sunset" class="top img-responsive center-block">
          <!-- <input type="image"  id="sunset" class="img-responsive center-block" src="<%= @photo.sunset_by_lat_lon %>" onClick="window.location.reload()"> -->
          <div class = "map col-lg-8 bottom" id="map-canvas"></div>
       </div>
     </figure>
       <div style="clear: both;"> 
        <p class="alignleft"><%= @photo.location.titleize %></p> 
        <p class="alignright">by <a href ="<%=@photo.photo_url%>"><%= @photo.author %></a></p> 
      </div>
    </div>
  </div>

</div>

<script>
  var mapAdded = false
  function displayMap() {
    document.getElementById('map-canvas').style.display="block";
    initialize();
  }

    function initialize() {
      var latitude = <%= @photo.lat %>;
      var longitude = <%= @photo.lon %>;
      var markerTitle = '<%= @photo.location.titleize %>';
      var myLatlng = new google.maps.LatLng(latitude,longitude);
      var mapOptions = {
      zoom: 3,
      center: myLatlng
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: markerTitle
    });
    mapAdded = true;
    }

    function addMap() {
        google.maps.event.addDomListener(window, 'load', displayMap);
      }

    addMap();

    var check = function(){
      if(mapAdded == true){
        $('#map-canvas').hide();
        console.log("hidden");
      }else{
        setTimeout(check, 500);
        console.log("waiting");
      }
    }
    check();

</script>