<!DOCTYPE html>
<html>
<head>
  <title>ProjectSunset</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

<%= yield %>
<footer>
  <div class="container text-center">
    <p class="text-muted">Made by <a href="https://github.com/mmlkrx" target="_blank">Matthias Loker</a>, <a href="https://github.com/amyrjohnson" target="_blank">Amy Johnson</a> and <a href="https://github.com/zacksheppard" target="_blank">Zack Sheppard</a> at <a href="http://flatironschool.com" target="_blank">The Flatiron School</a>.</p>
  </div>
</footer>

</body>
</html>